<div class="image-detail">
  <%= link_to image.title, image_path(image), class: 'image-detail__title' %>
  <p>
    <span class="image-detail__label">Tags:</span>
    <span class="image-detail__tags">
      <% image.tag_list.each do |tag| %>
        <%= link_to tag, images_path(tag: tag), class: 'js-image-tag btn btn-success' %>
      <% end %>
    </span>
  </p>
  <%= image_tag image.url, class: 'image-detail__box' %>
</div>
<%= link_to new_share_image_path(image), class: 'btn btn-info' do %>
  <span class="fa fa-share-alt"></span> Share
<% end %>

<%= link_to 'Delete', image_path(image), method: :delete, 'data-confirm': 'Are you sure?',
            class: 'btn btn-danger' %>
