<h1 class="heading">Listing of Images</h1>
<div class="row">
  <div class="col-sm-12">
    <%= link_to new_image_path, class: 'btn btn-success pull-xs-right' do %>
      <span class="fa fa-plus"></span> Insert Image
    <% end %>
  </div>
</div>

<div id="images_list" class="row">
  <% @images.each do |image| %>
    <div class="js-image-card col-sm-6 col-xs-12">
      <div class="card-block img-fluid" data-image-id="<%= image.id %>">
        <%= render image %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'share_modal' %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'images/index' %>
<% end %>
