<h1>Please Insert Your Image</h1>
<%= simple_form_for @image, url: images_path, html: { id: 'new_image_form', novalidate: '' } do |f| %>
  <%= f.input :title, label: 'Title:' %>
  <%= f.input :url, label: 'URL:' %>
  <%= f.input :tag_list, label: 'Tags: (seperated by commas)', input_html: {value: @image.tag_list.join(', ')} %>
  <button type="submit" class="btn btn-primary">
    <span class="fa fa-floppy-o"></span> Save Image
  </button>
  <%= link_to images_path, class: 'btn btn-secondary' do %>
    <span class="fa fa-arrow-left"></span> Back
  <% end %>
<% end %>
