<h1>Please Insert Your Image</h1>
<%= simple_form_for @image, url: images_path, html: { id: 'new_image_form', novalidate: '' } do |f| %>
  <p>
    <%= f.input :title %><br>
  </p>

  <p>
    <%= f.input :url %><br>
  </p>
  <p>
    <%= f.submit 'Save Image'%>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
