<div id="image_card">
  <%= render @image %>
  <%= link_to 'Delete', image_path(@image), method: :delete, 'data-confirm': 'Are you sure?',
              class: 'btn btn-danger' %>
  <%= link_to 'Back', images_path, class: 'btn btn-secondary' %>
</div>

<%= render partial: 'share_modal' %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'images/show' %>
<% end %>
