<!DOCTYPE html>
<html>
  <head>
    <title>Ropes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="page-wrapper">
    <%= render partial: 'layouts/navbar' %>

    <div class="page-wrapper__content">
      <div class="container m-t-4">
        <div id="flash_messages">
          <% flash.each do |type, message| %>
            <% if flash[type].present? %>
              <div class="alert alert-<%= type %>">
                <%= message %>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>

    <template id="favorite_btn_count">
      <span class="js-favorite-count"><%= '{some_count}' %></span>
    </template>

    <%= render partial: 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  </body>
</html>
